* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.vh-100-custom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn-x{
  width: 42px;
}
/* import './App.css'; */