* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.vh-100-custom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn-x{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Doira qilish */
  padding: 0;
  line-height: 1;
}
:root {
  --text-color: #1a1a1a;
  --bg-color: #ffffff;
}

[data-theme='dark'] {
  --text-color: #f5f5f5;
  --bg-color: #121212;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}


/* import './App.css'; */